#footer {
  background-color: #2b2b2b;
  text-align: center;
  padding: 30px;
}
#footer h3 {
  padding-top: 40px;
  font-weight: bold;
  font-family: poppins, "Times New Roman", Times, serif;
  font-size: 2.5rem;
}
#footer p,
#footer .copyright {
  color: #ababab;
}
#footer i {
  font-size: 18px;
  background-color: aliceblue;
  padding: 12px;
  margin: 6px;
  border-radius: 50%;
  transition: 0.5s;
}
#footer .social-links {
  /* background-color: red; */
  margin-bottom: 10px;
  /* display: flex; */
  /* justify-content: space-between; */
}
#footer i:hover {
  background-color: #007bff;
  color: aliceblue;
}
