#header {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;

  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  transition: all 1s;
}
@media only screen and (max-width: 676px) {
  .nav-menu ul {
    display: flex;
    /* margin: 0; */
    padding: 0;
    justify-content: space-evenly;
    /* background: red; */
  }
  #header {
    top: 2%;
    right: 0;
    bottom: auto;
    display: flex;
    flex-direction: row;
    /* background: blue; */
    flex-direction: column;
    margin: 0;
  }
}

.nav-menu * {
  text-decoration: none;
}

.nav-menu ul {
  list-style: none;
}

.nav-menu > ul > li {
  display: flex;

  align-items: center;
  position: relative;
  white-space: nowrap;

  height: 30px;
  margin: 20px 0;
  padding: 28px 0;
}
.nav-menu > ul > li > a {
  font-weight: bold;
  color: white;
  width: 55px;
  background-color: rgba(0, 0, 0, 0.233);
  border-radius: 999px;
  display: flex;
  align-items: center;
  transition: 0.5s;
}
.nav-menu > ul > li > a > i {
  font-size: 20px;
  padding: 18px 8px 18px 18px;
}

.nav-menu > ul > li > a > span {
  display: none;
  padding-right: 15px;
}
.nav-menu > ul > li > a:hover span {
  display: block;
}
.nav-menu > ul > li > a:hover {
  background-color: white;
  color: black;
  width: 100%;
}
