.edu-detail-card {
  height: 300px;
  margin: 20px 0;
  padding: 0 20px;
}
@media only screen and (max-width: 876px) {
  .edu-detail-card {
    height: auto;
    /* align-items: center;
    justify-content: center; */
  }
}
.edu-subtitle {
  background-color: #5e60ce;
  border-radius: 10px;
  margin: 20px 0;
  padding: 8px 20px;
}

#resume .title {
  position: relative;
  color: #00509d;

  padding: 60px 0 20px 0;
}
#resume .title::after {
  position: absolute;
  content: "";
  height: 2px;
  bottom: 10px;

  display: flex;
  width: 100%;
  background: #00519dad;
}
/* progress bar code */
.progress-wrapper {
  margin: 20px auto;
  padding: 10px;
  max-width: 110px;
  max-height: 110px;
}
.skill__card {
  margin: 10px 0px;
  min-height: 345px;
  padding: 10px 5px;
  align-items: center;
  transition: 0.5s;
}
.skill__card:hover {
  transform: translateY(-20px);
}
/*  */
